@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    width: 100%;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}


nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #E5E7EB;
    margin-left: 30px;
    font-size: 18px;
    transition: 0.5s all ease;
}

nav a:hover {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 1.2em;
}


/* HERO */

.hero {
    height: 100vh;
    padding: 80px 200px;
    background: url("img/image2.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}


.hero-container {
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.5);
}



.hero-text h1 {
    font-size: 48px;
}

.hero-text button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 19px;
    font-weight: bold;
    padding: 7px 30px;
    border: 0px;
    border-radius: 7px;
    margin-top: 10px;
}

.hero-image {
    background: url("img/image1.jpg") no-repeat center center/cover;
    width: 50%;
    height: 450px;
}